#
# Config file to generate word practice with the CW Ops character set
#

# settings for copy letter by letter
# wpm           = 28
wpm           = 20
# farns-wpm     = 8
farns-wpm     = 10
# extra-wordspace = 1
max-word-len  = 8
min-word-len  = 2

cwops-chars   = 40
total-words   = 20
sidetone-freq = 600
sound-file    = /tmp/ebook2cwoutput
play          = True
word-file     = /export/home/saw/local/deploy/cwwords/google-10000-english/google-10000-english-usa-no-swears.txt
rm-abbr       = True
words         = True
